# Environments
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
dist/
build/


# Flask/Database
instance/
*.db
*.sqlite3

# Logs
*.log
debug.log

# IDE
.vscode/
.idea/
GitCrendentails.txt