# Environments
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
dist/
build/
.env

# Flask/Database
instance/
gradle-8.5/
*.db
*.sqlite3

# Logs
*.log
debug.log

# IDE
.vscode/
.idea/
GitCrendentails.txt